<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--link (boostrap,css,javascript)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../style/fooldal.css">
    <title>Yankee fashion</title>
    <link rel="shortcut icon" href="../img/yankee fashion.jpg" type="image/x-icon">
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <img class="oldallogo" src="../img/yankee fashion.jpg" alt="Yankee Fashion" title="Yankee Fashion" width="60px">
          <a class="navbar-brand oldalnev" href="#">Yankee fashion</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="./fooldal.html">Home</a>
              </li>
              <a id="drop" class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Termékek
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Férfi Ruhák</a></li>
                <li><a class="dropdown-item" href="#">Női Ruhák</a></li>
                <li><a class="dropdown-item" href="#">Gyerek Ruhák</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Kiegészitők</a></li>
                <li><a class="dropdown-item" href="#">Cipők</a></li>
              </ul>
            </li>
              <li class="nav-item">
                <a class="nav-link noi" href="#">Kapcsolat</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Rólunk</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div>
       <img id="responsive" class="kep1" src="../img/portrait-handsome-fashion-businessman-model-dressed-elegant-checkered-suit.jpeg" alt="" width="920">
        <img id="responsive" class="kep2" src="../img/OfficeOutfitIdeas2023-lead-e16b64a6b1684d79b97b10079cd3feb3.jpg" alt="" width="920">
      </div>
      <div class="info">
        <table>
          <tr>
            <td class="respon" colspan="3">
              <img class="logo" src="../img/truck-solid.svg" alt="" width="75px" height="75px">
              <p class="leiras">Ingyenes Szállítás</p>
              <p class="boveb">30.000 Forint feletti vagy 10 Termék váráslás esetén a szállítás teljes mértékben  ingyenes.</p>
            </td>
            <td class="respon">
                <img class="logo" src="../img/box-solid.svg" alt="" width="75px" height="75px">
                <p class="leiras">30 nap Termék vissza küldés</p>
                <p class="boveb">A hibás vagy rossz termékeinket 30 napig vissza lehet küldeni és teljes kártérités érvényes.</p>
            </td>
            <td class="respon">
              <img class="logo" src="../img/shirt-solid.svg" alt="" width="75px" height="75px">
              <p class="leiras">Saját mintával ellátót pólók/pulcsik</p>
              <p class="boveb">A saját mintával ellátót pólók/pulcsok a logo méretétől és kidolgozásától függ az értéke.</p>
            </td>
          </tr>
        </table>
      </div>
      <hr class="informhr">
      <div>
        <h1 class="inform">Információ</h1>
        <p class="informp">A <span class="informi">Yankee Fashion</span> a modern divat ruháival foglakozó üzlet amely Férfi,Női és gyermek ruhákkal foglalkozik törekedve a mai divatra és a választhatóságra.</p>
      </div>
      <div id="felkapott-rab" >
        <h2>Felkapott Részleg</h2>
        <table>
          <tr>
            <td> <a class="felkapott-table" href="#ferfi">Férfi Ruha</a></td>
            <td> <a class="felkapott-table" href="#noi"> Női Ruha</a></td>
            <td> <a class="felkapott-table" href="#kicsi">Gyerek</a> </td>
            <td> <a class="felkapott-table" href="#kieg"> Kiegészitők</a></td>
            <td> <a class="felkapott-table" href="#cipo"> Cipők</a></td>
          </tr>
        </table>

        <div class="container">
  <h2>képek</h2>  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="../img/portrait-handsome-fashion-businessman-model-dressed-elegant-checkered-suit.jpeg" alt="Los Angeles" style="width:100%;">
      </div>

      <div class="item">
        <img src="../img/OfficeOutfitIdeas2023-lead-e16b64a6b1684d79b97b10079cd3feb3.jpg" alt="Chicago" style="width:100%;">
      </div>
    
      <div class="item">
        <img src="../img/gyerekruha.webp" alt="New york" style="width:100%;">
      </div>

      <div class="item">
        <img src="../img/ora.jpg" alt="New york" style="width:100%;">
      </div>

      <div class="item">
        <img src="../img/cipo.webp" alt="New york" style="width:100%;">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
      </div>

      <div>
        <h2 id="ferfi">Felkapott Férfi Ruhák</h2>
        <div class="container">
          <div class="row">
            <div class="col-xl-4">
              <div class="image">
                <img class="image__img" src="../img/SS23-BLM065-99X_F1.jpg" alt="adidas melegítő szett" title="adidas melegítő szett">
                <div class="image__overlay image__overlay--primary">
                  <div class="image__title">adidas melegítő szett</div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="image">
                <img class="image__img" src="../img/SS23-KUM09U-55J_F1.jpg" alt="Tommy Hilfiger farmerdzseki x Shawn Mendes" title="Tommy Hilfiger farmerdzseki x Shawn Mendes">
                <div class="image__overlay image__overlay--primary">
                  <div class="image__title">Tommy Hilfiger farmerdzseki x Shawn Mendes</div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="image">
                <img class="image__img" src="../img/AW21-KZM00D_90X_F1.jpg" alt="Tiger Of Sweden zakó" title="Tiger Of Sweden zakó">
                <div class="image__overlay image__overlay--primary">
                  <div class="image__title">Tiger Of Sweden zakó</div>
                </div>
              </div>
            </div>
        </div>
      </div>
      
      <div>
        <h2 id="noi">Felkapott Női Ruhák</h2>
        <div class="container">
          <div class="row">
            <div class="col-xl-4">
              <div class="image">
                <img class="image__img" src="../img/AA00-BLD00R_59X_F1.jpg" alt="Tommy Hilfiger felső" title="Tommy Hilfiger felső">
                <div class="image__overlay image__overlay--primary">
                  <div class="image__title">Tommy Hilfiger felső</div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="image">
                <img class="image__img" src="../img/AW21-BLD091_00X_F1.jpg" alt="Levi's pamut melegítőfelső" title="Levi's pamut melegítőfelső">
                <div class="image__overlay image__overlay--primary">
                  <div class="image__title">Levi's pamut melegítőfelső</div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="image">
                <img class="image__img" src="../img/AW21-BLD0H8_90X_F1.jpg" alt="adidas Originals pamut melegítőfelső" title="adidas Originals pamut melegítőfelső">
                <div class="image__overlay image__overlay--primary">
                  <div class="image__title">adidas Originals pamut melegítőfelső</div>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div>
        <h2 id="kicsi">Felkapott Gyerek Ruhák</h2>
        <div class="container">
          <div class="row">
            <div class="col-xl-4">
              <div class="image">
                <img class="image__img" src="../img/gyerek1.jpg" alt="Guess gyerek melegítőfelső pamutból" title="Guess gyerek melegítőfelső pamutból">
                <div class="image__overlay image__overlay--primary">
                  <div class="image__title">Guess gyerek melegítőfelső pamutból</div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="image">
                <img class="image__img" src="../img/gyerek2.jpg" alt="adidas Originals gyerek pamut póló" title="adidas Originals gyerek pamut póló">
                <div class="image__overlay image__overlay--primary">
                  <div class="image__title">adidas Originals gyerek pamut póló</div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="image">
                <img class="image__img" src="../img/gyerek3.jpg" alt="OVS gyerek bomberdzseki" title="OVS gyerek bomberdzseki">
                <div class="image__overlay image__overlay--primary">
                  <div class="image__title">OVS gyerek bomberdzseki</div>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div>
        <h2 id="kieg">Felkapott Kiegészitők</h2>
        <div class="container">
          <div class="row">
            <div class="col-xl-4">
              <div class="image">
                <img class="image__img" src="../img/kieg1.jpg" alt="Guess kozmetikai táska" title="Guess kozmetikai táska">
                <div class="image__overlay image__overlay--primary">
                  <div class="image__title">Guess kozmetikai táska</div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="image">
                <img class="image__img" src="../img/kieg2.jpg" alt="Michael Kors óra" title="Michael Kors óra">
                <div class="image__overlay image__overlay--primary">
                  <div class="image__title">Michael Kors óra</div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="image">
                <img class="image__img" src="../img/kieg3.jpg" alt="Lego gyerek pénztárca" title="Lego gyerek pénztárca">
                <div class="image__overlay image__overlay--primary">
                  <div class="image__title">Lego gyerek pénztárca</div>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div>
        <h2 id="cipo">Felkapott Cipők</h2>
        <div class="container">
          <div class="row">
            <div class="col-xl-4">
              <div class="image">
                <img class="image__img" src="../img/cipo3.jpg" alt="Kat Maconie velúr szandál Deliz" title="Kat Maconie velúr szandál Deliz">
                <div class="image__overlay image__overlay--primary">
                  <div class="image__title">Kat Maconie velúr szandál Deliz</div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="image">
                <img class="image__img" src="../img/cipo2.jpg" alt="adidas Performance futócipő Questar" title="adidas Performance futócipő Questar">
                <div class="image__overlay image__overlay--primary">
                  <div class="image__title">adidas Performance futócipő Questar</div>
                </div>
              </div>
            </div>
            <div class="col-xl-4">
              <div class="image">
                <img class="image__img" src="../img/cipo1.jpg" alt="Primigi gyerek sportcipő" title="Primigi gyerek sportcipő">
                <div class="image__overlay image__overlay--primary">
                  <div class="image__title">Primigi gyerek sportcipő</div>
                </div>
              </div>
            </div>
        </div>
      </div>
</body>
<footer>
  <div class="footernev">
    Yankee Fashion
  </div>
  <div class="footerkozep">
    <img src="../img/footer logo.jpg" alt="Yankee Fashion" title="Yankee Fashion" class="footerlogo" width="160px">
  </div>
  <div class="footercopy">
    ©2023│All Rights Reserved
  </div>
  <div class="logo-footer-div">
    <p class="logo-p">Contact</p>
   <a class="logo-hover" href=""><img class="logo-footer" src="../img/facebook.svg" alt="" width="60px"></a> 
   <a class="logo-hover" href=""><img class="logo-footer" src="../img/phone-solid.svg" alt="" width="60px"></a> 
   <a class="logo-hover" href=""><img class="logo-footer" src="../img/instagram.svg" alt="" width="60px"></a>
   <a class="logo-hover" href=""><img class="logo-footer" src="../img/envelope-solid (1).svg" alt="" width="60px"></a>
  </div>
</footer>
</html>